# PANDAS
This exercise is for you to practice your pandas skills! We will be using the [Games](https://www.kaggle.com/gutsyrobot/games-data/data) Dataset from Kaggle!.

#### Import pandas and read in the Games csv file and set it to a DataFrame called gms

In [10]:
# your code here-
import pandas as pd
gms=pd.read_csv("games.csv")

#### Check the head of the DataFrame.

In [34]:
# your code here-
gms.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

####  Use .info() method to find out total number of entries in dataset

In [12]:
# your code here-
gms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    81312 non-null  int64
 1   type                  81312 non-null  object
 2   name                  81271 non-null  object
 3   yearpublished         81309 non-null  float64
 4   minplayers            81309 non-null  float64
 5   maxplayers            81309 non-null  float64
 6   playingtime           81309 non-null  float64
 7   minplaytime           81309 non-null  float64
 8   maxplaytime           81309 non-null  float64
 9   minage                81309 non-null  float64
 10  users_rated           81312 non-null  int64
 11  average_rating        81312 non-null  float64
 12  bayes_average_rating  81312 non-null  float64
 13  total_owners          81312 non-null  int64
 14  total_traders         81312 non-null  int64
 15  total_wanters         81312 non-null  int64
 16  total_wishers         81312 non-null  int64
 17  total_comments        81312 non-null  int64
 18  total_weights         81312 non-null  int64
 19  average_weight        81312 non-null  float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

#### How many rows and columns are present in the dataset?

In [16]:
# your code here-
print("number of rows:", gms.shape[0])
print("number of columns:", gms.shape[1])

number of rows: 81312
number of columns: 20

#### What is the highest number of comments received for a game?

In [17]:
# your code here-
column = gms["total_comments"]
max_value = column.max()
print(max_value)

11798

#### What is the name of the game with id 1500?

In [26]:
# your code here-
gms.iloc[1500,2]

'Thebes: The Tomb Raiders'

#### Which games have received the least number of comments?

In [24]:
# your code here-
column = gms["total_comments"]
min_value = column.min()
print(min_value)

0

#### Which games have received the highest number of comments?¶

In [29]:
# your code here-
gms.loc[gms['total_comments'] == 11798,'name']

165     Catan
1965    Catan
Name: name, dtype: object

#### How many unique games are there in the dataset?

In [32]:
# your code here-
len(gms['name'].unique())

76036

#### How many boardgames and boardgameexpansions are there in the dataset?

In [35]:
# your code here-
gms['type'].value_counts()

boardgame             70820
boardgameexpansion    10492
Name: type, dtype: int64

#### What is the mean playin time for all games put together ?

In [36]:
# your code here-
gms["playingtime"].mean()

51.63478827682052

#### Is there a correlation between playing time and total comments for the games? hint:- Use the .corr() function

In [41]:
# your code here-
col_1 = gms["playingtime"]
col_2 = gms["total_comments"]
correlation = col_1.corr(col_2)
print(correlation)

0.02064511374622688

# KEEP UP THE GOOD WORK!!!